$mainColor: #2f95dc;


.products{
    display: flex;
    flex-direction: column;
    height: 100%;

    .total-amount{
       width: 100%;
       display: flex;
       justify-content: space-between;
       font-weight: bold;
       padding: 0 10px;
       font-size: 18px;

       span:last-of-type{
            color: $mainColor;

       }
    }

    .products-list{
        flex-grow: 1;
        overflow: auto;
    }
}