@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$font: 'Open Sans', sans-serif;
$mainColor: #2f95dc;
$mainColorDark: #2582c3;

body{
    font-family: $font;
}


body{
    background-color: #ECF0F1;
}

.content-wrapper{
    margin-top: 50px;
}



.loader-container{
    height: 300px;
}
