$mainColor: #2f95dc;

.item{
    display: flex;
    flex-direction: column;
}

.product{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    cursor: pointer;

    .actions{
        display: none;
        transition: all .7s;

        .button{
            font-size: 10px;
            margin-top: 5px;
            padding: 6px;
            letter-spacing: 1px;
        }

        &.editable{
            display: block;
        }
       
    }



    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .details{
            display: flex;
            flex-direction: column;
    
            .title{
                font-size: 12px;
                font-weight: bold;
            }
    
            .quantity{
                font-size: 10px;
            }
        }
    
        .price{
            align-items: center;
            font-weight: bold;
            color: $mainColor;
            display: flex;
        }
    }


    
}