$mainColor: #2f95dc;
$gray: #888787;
$black: #000;
$white: #fff;

.nav-wrapper{
    width: 100%;
    background: $white;
    padding: 12px 0;   
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.nav-content{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;

    img{
        height: 32px;
        align-self: center;
    }

    ul{
        list-style: none;

        li{
            display: inline;
            padding: 0 5px 5px;
            margin: 0 10px;
            font-weight: bold;
            transition: all .2s;            

            &:hover{
                border-bottom: 2px solid $mainColor;
            }

            a{
                color: $gray !important;
                cursor: pointer;
            }

            &.active{
                border-bottom: 2px solid $mainColor;

                a{
                    color: $black !important;
                }
            }
        }
    }
}