.sidebar {
    position: fixed;
    width: 200px;
    background: #263249;
    color: #eee;
    left: 0;
    height: 100%;
}
.menu{
     li {
        padding: 10px;
        list-style: none;
        width: 0%;

        a{
            color: #fff;
            text-align: center;
            font-size: 15px;
            display: block;
            text-decoration: none;
            padding: 5px 0px 5px 0;
            margin: 0 20px;

            i{
                display: inline;
                margin-right: 10px;
            }
        }
     }

}


.nav-logo{
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #3f4c65;

    img{
        width: 80%;
    }
}

