input:read-only{
    background:#0000000a !important;
}

select {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    padding: .67857143em 1em !important;
    line-height: 1.21428571em !important;
    height: 33px !important;
}

.react-datepicker-wrapper{
    width: 100% !important;
}

.submit-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}